$text-color: #283148;
$font-family: "Red Hat Display", sans-serif;
$font-family-alt: "Luckiest Guy", cursive;
$primary-color: #ffea7d;
$primary-text-color: #ffffff;
$secondary-color: #ffd77d;
$tertiary-color: #283148;
$radius-base: 20px;
$border-color: #283148;
$transition-base: 0.4s all;
